body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}
h1 {
    background: #fff;
    background: -webkit-linear-gradient(to right, #0debdc, #0debdc, #0debdc);
    background: linear-gradient(to right, #eb0808, #eb0808, #eb0808);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container {
    height: 100%;
    display: flex;
}
#toolbar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 15%;
    background-color: #000000;
}
#toolbar * {
    margin-bottom: 6px;
}
#toolbar label {
    font-size: 12px;
}
#toolbar input {
    width: 100%;
}
#toolbar button {
    background-color: #fd0808;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 2px;
    margin: 2px;
}